body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li{
  list-style: none;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  margin-right: 50px;
}
ul{
  text-transform: capitalize;
}
.authorDetails div{
  display: grid;
}
.name{
  font-weight: 700;
}
h1{
  text-align: center;
  text-decoration: underline;
}
.reply{
  display: flex;
  flex-direction: column;
}
.btn{
  display: inline;
  background-color: dodgerblue;
  font-weight: 600;
  color: white;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 15px;
}
.replyIp{
  display: inline;
  max-width: 400px;
  margin: 20px 0 5px 0;
  background-color: #ddd;
  border: none;
  padding: 7px 12px;
  border-radius: 20px;
}